@model CSharpTeacher.Models.Exercise1ViewModel

@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Microsoft.CodeAnalysis.CSharp.Scripting;
@using System.Threading.Tasks;

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="container">
    <div class="row">
        @using (Html.BeginForm())
        {
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="jumbotron">
                           <h4> zad1 - uzupełnij metodę, która w parametrze przyjmuje typ string, a następnie go zwraca. W miejsca **** wpisz brakujące słowa kluczowe 
                            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                            </h4>
                        </div>
                    </div>
                @*</div>
                <br />
                <div class="row">*@
                    <div class="col-xs-4 col-sm-3">
                        <div>
                            @Html.TextAreaFor(x => x.expression, new { @style = "width: 100%; height: 410px; background-color: #cccccc;" })
                        </div>
                            <br />
                        <br />
                    </div>


                    <div class="col-xs-2 col-sm-3">
                        <h1>Wynik:</h1> 
                        <br />
                        <div class="jumbotron">
                            @Model.result
                            @Model.sysAnswer
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <button type="submit" class="btn btn-block" style="color: white; background-color: #007E33;">Gotowe !</button>
                    </div>
                </div>
        }
    </div>
    <div class="row">
        @if (Model.isExerciseDone == true)
        {
            @Html.ActionLink("Zad2", "Exercise2", "SimpleExercises")
        }
    </div>

</div>