
@model CSharpTeacher.Models.Exercise1ViewModel

@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Microsoft.CodeAnalysis.CSharp.Scripting;
@using System.Threading.Tasks;

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="container">
    <div class="row">
        @using (Html.BeginForm())
        {
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
                        zad1 - uzupełnij metodę, która w parametrze przyjmuje 2 zmienne o typie int, a następnie zwraca ich sumę. W miejsca **** wpisz brakujące słowa kluczowe
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-sm-offset-4">
                        @Html.TextAreaFor(x => x.expression, new { @style = "width: 1000px; height: 250px" })
                        <br />
                        <br />
                        <button type="submit" class="btn btn-default">submit</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <h1>Wynik: @Model.result</h1>
                @Model.sysAnswer
            </div>
        }
    </div>
    @*

    <div class="row">
        @if (Model.isExerciseDone == true)
        {
            @Html.ActionLink("Zad3", "Exercise3", "SimpleExercises")
        }
    </div>
        *@
</div>