@model CSharpTeacher.Models.Exercise1ViewModel

@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Microsoft.CodeAnalysis.CSharp.Scripting;
@using System.Threading.Tasks;

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery.colorfy")
@Scripts.Render("~/bundles/jquery.colorfy.markdown")

    <style type='text/css'>
        .area {
            min-width: 100%;
            max-width: 100%;
            height: 465px; 
            background-color: #cccccc;
            /*float: auto;
            margin-left: auto;
            margin-right: auto;
            padding: 8px;
            width: 600px;
            max-width: 600px;
            height: 400px;
            border-color: black;
            border-width: 2px;
            border-style: solid;
            font-size: 15px;
            text-align: left;
            outline: none;*/
        }

        .money .currency {
            color: red;
        }

        .money .number {
            color: green;
        }

        .markdown .title {
            color: red;
        }

        .markdown .block {
            color: green;
        }

        .markdown .strong {
            color: blue;
        }

        .markdown .emphasis {
            color: red;
        }

        .markdown .strikethrough {
            color: lime;
        }

        .markdown .inlinecode {
            color: purple;
        }

        .markdown .codeblock {
            color: #CC0066;
        }

        .markdown .orderedlist {
            color: maroon;
        }

        .markdown .unorderedlist {
            color: silver;
        }
    </style>

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <div class="jumbotron" style="min-height: 520px;">
                    <h4 style="text-align: justify;">
                        C# jest obiektowym językiem programowania zaprojektowanym do tworzenia m.in bezpiecznych oraz potężnych aplikacji. Język C# jest znany jako elastyczny, skalowalny oraz łatwo rozszerzalny. 
                        <br /><br /><br />
                        Zaczniemy od nauki podstaw <i>typów danych, arytmetyki</i> oraz <i>operatorów</i>. Nauczymy się kilku koncepcji które ułatwią ci wkroczenie w świat programowania. Pod koniec kursu będziesz zaznajomiony z tworzeniem prostych bloków kodu w C#.
                        <br /><br />
                        Instrukcje:<br /><br />
                        Wpisz swoje imię w odpowiednim miejscu, w metodzie main np. yourName.name = "Piotr".
                        A następnie przyciśnij przycisk "Gotowe !" <br /><br />
                        <span style="color: crimson;">PS: Nie przejmuj się jeżeli nie rozumiesz kodu po prawej stronie, za niedługo wszystko stanie się jasne !</span>
                    </h4>
                </div>
            </div>
                <div class="col-xs-12 col-sm-4">
                    <div>
                       @Html.TextAreaFor(x => x.expression, new { /*@class = "area", @id = "area",*/ @style = "min-width: 100%; maxwidth: 100 %; height: 465px; background-color: #cccccc;" })
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn btn-block" style="color: white; background-color: #007E33;">Gotowe !</button>
                    </div>
                </div>
            <div class="col-xs-12 col-sm-3">
                <div class="jumbotron">
                    Wynik:  @Model.result
                    @Model.sysAnswer
                </div>

                @if (Model.isExerciseDone == true)
                {
                    <a href="@Url.Action("Exercise2", "Course")" class="btn btn-block btn-primary">Następne zadanie !</a>
                }
            </div>
        </div>
    }
</div>

<script type="text/javascript">
     $('#area').colorfy("markdown");
</script>