@model CSharpTeacher.Models.Exercise1ViewModel

@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Microsoft.CodeAnalysis.CSharp.Scripting;
@using System.Threading.Tasks;

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <div class="jumbotron" style="min-height: 520px;">
                    <h4 style="text-align: justify;">
                        Gratulacje ! właśnie nauczyłeś się jak przypisywać tekst do zmiennej typu string (typ danych string). Tworzenie bardziej użytecznych programów w C# będzie wymagało pracy z większą ilością typów danych, kilka podstawowych to: <br />
                        <strong>string</strong> - służy do przechowywania łańcuchów tekstu<br />
                        <strong>int</strong> - służy do przechowywania liczb całkowitych 32 bitowych (z przedziału od -2 147 483 648 do 2 147 483 647)<br />
                        <strong>bool</strong> - służy do przechowywania wartości logicznych tj. prawda(true) lub fałsz(false)<br />
                        <strong>object</strong> - jest to typ podstawowy (w skrócie mówiąc - może być każdym typem z powyższych)
                        <br /><br />
                        Instrukcje:<br />
                        Uzupełnij swoje imię, wiek, itp.
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div>
                    @Html.TextAreaFor(x => x.expression, new { @style = "min-width: 100%; height: 465px; background-color: #cccccc;" })
                </div>
                <br />
                <div>
                    <button type="submit" class="btn btn-block" style="color: white; background-color: #007E33;">Gotowe !</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="jumbotron">
                    Wynik:  @Model.result
                    @Model.sysAnswer
                </div>
            </div>
        </div>
    }
</div>

    <div class="row">
        @if (Model.isExerciseDone == true)
        {
            @Html.ActionLink("Zad3", "Exercise3", "Course")
        }
    </div>