
<div class="container">
    <br />
    <div class="row">
        <div class="row">
            <h1 style="text-align: center; color: white;">KURS</h1>
        </div>

        <br />

        <div class="row">
            <div class="row">
                <div class="visible-xs col-xs-1"></div>
                <div class="col-xs-10 col-md-4 col-md-offset-4">
                    @Html.ActionLink("Rozpocznij kurs od początku !", "Exercise1", "Course", null, new { @class = "btn btn-block btn-md btn-success" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="visible-xs col-xs-1"></div>
                <div class="col-xs-10 col-md-4 col-md-offset-4">
                  @Html.ActionLink("zadanie 1", "Exercise1", "Course", null, new { @class = "btn btn-block btn-md btn-success" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="visible-xs col-xs-1"></div>
                <div class="col-xs-10 col-md-4 col-md-offset-4">
                    @Html.ActionLink("zadanie 2", "Exercise2", "Course", null, new { @class = "btn btn-block btn-md btn-success" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="visible-xs col-xs-1"></div>
                <div class="col-xs-10 col-md-4 col-md-offset-4">
                    @Html.ActionLink("zadanie 3", "Exercise3", "Course", null, new { @class = "btn btn-block btn-md btn-success" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="visible-xs col-xs-1"></div>
                <div class="col-xs-10 col-md-4 col-md-offset-4">
                    @Html.ActionLink("zadanie 4", "Exercise4", "Course", null, new { @class = "btn btn-block btn-md btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>