<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - C# Teacher</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color: #005588">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("C# Teacher", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <div class="nav navbar-nav">
                <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-info">Strona główna</a>

                <a href="@Url.Action("About", "Home")" class="btn btn-lg btn-info">Info o nas</a>

                <a href="@Url.Action("Contact", "Home")" class="btn btn-lg btn-info">Kontakt</a>

                <a href="@Url.Action("Index", "Theory")" class="btn btn-lg btn-info">Teoria</a>

                <a href="@Url.Action("Index", "SimpleExercises")" class="btn btn-lg btn-info">Kurs</a>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year C# Teacher</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
